:root {
    background-color: #e3d9c8;
}

#main {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 2em;
    margin-top: 1em;
    color: #222;
}

h1 {
    font-weight: 500;
    margin: 0 0 0.5em;
}

#dev {
    font-size: 400;
    margin: 1em 0;
}

p {
    font-size: 400;
    margin: 0;
}

a {
    font-size: 400;
}
